@media (min-width: 1025px) and (max-width: 1650px) {
    .slider-margin-one {
       margin: 0 100px ;
    }

   .footer-block {
      padding: 50px 100px;
   }
}


@media (min-width: 860px) and (max-width: 1024px) {
  .slider-margin-one {
    margin: 0 65px ;
  }

  .footer-block {
    padding: 50px 70px;
  }
}